body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

#parent {
    align-items: center;
    height: 100vh;
    display: flex;
    align-items:flex-start;
    font-size: 2vh;
}

#content {
    max-width: 80%;
    margin: auto;
}

h2 {
    margin-bottom: 0;
}

ul {
    margin-top: 0.6rem;
}

b {
    font-size: 2.1vh;
}

:link {
    text-decoration: underline;
    color: #606060;
}

:visited {
    color: #606060;
}