* {
	font-family: Inconsolata, Consolas, Monaco, Courier New, Courier, DejaVu Sans;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	overflow-y: scroll;
}

li {
	font-size: 16px;
}

p {
	font-size: 18px;
}

a, a:visited {
	color: grey;
	text-decoration: none;
}

h1 {
	font-size: 32px;
	margin-top: 12px;
	margin-bottom: 2px;
	padding-bottom: 2px;
}

h2 {
	font-size: 24px;
	margin-top: 0px;
}

#big-title {
	font-size: 45px;
	text-align: center;
}

#entry-container {
	display: flex;
	margin: auto;
	padding: 0;
	width: 900px;
}

.less-harsh {
	color: #555555;
}

.cover-title {
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.entry {
	/*border: 5px solid black;*/
	display: block;
	margin: 0;
	padding: 0;
	width: 700px;
	flex: none;
	flex-wrap: wrap;
	text-align: left;
}

.nav-bar {
	/*border: 2px solid black;*/
	display: block;
	-webkit-flex: initial;
	flex: initial;
	float: left;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 100%;
	font-size: 16px;
}

.small-text {
	font-size: 14px;
}

.medium-text {
	font-size: 16px;
}

.post-img {
	display: block;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.code-block {
	/*background-color: #222222;*/
	background-color: #0f0f0f;
	color: #e8e8e8;
	display: block;
	margin-left: 100px;
	margin-right: 100px;

	border-radius: 8px;

	padding-top:     2px;
	padding-bottom:  2px;
	padding-left:   20px;
	padding-right:  20px;
}